@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;
}

.active{
    background-color: rgb(39, 80, 114);
    /* color: rgb(148, 210, 87); */
}

.quack1{
    background: #E6DADA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

body{
    background-color: #10334b;
    /* background: rgb(239, 249, 254); */
    /* background: url('../img/jinju2.jpg') no-repeat; */
    }